In [12]:
# Import libraries
import numpy as np
import pandas as pd
from obspy import read
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import os

# On va s'entrainer avec les données de Mars 
cat_directory = '/data/lunar/test/data/S12_GradeB/'
cat_file = '/Users/red1/Downloads/space_apps_2024_seismic_detection/data/lunar/test/data/S12_GradeB/xa.s12.00.mhz.1969-12-16HR00_evid00006.csv'
cat = pd.read_csv(cat_file)
cat

       time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1969-12-16T00:00:00.178000       0.000000   0.000000e+00
1          1969-12-16T00:00:00.328943       0.150943  -5.576940e-15
2          1969-12-16T00:00:00.479887       0.301887  -1.115388e-14
3          1969-12-16T00:00:00.630830       0.452830  -1.673082e-14
4          1969-12-16T00:00:00.781774       0.603774  -2.230776e-14
...                               ...            ...            ...
572418     1969-12-17T00:00:02.894981   86402.716981  -1.767212e-14
572419     1969-12-17T00:00:03.045925   86402.867925  -2.535490e-14
572420     1969-12-17T00:00:03.196868   86403.018868  -3.008261e-14
572421     1969-12-17T00:00:03.347811   86403.169811  -4.156843e-14
572422     1969-12-17T00:00:03.498755   86403.320755  -6.324184e-14

[572423 rows x 3 columns]